<!--
# Usage
Surrounds mandatory h3s heading each section, where each section contains h4 then pre repeated, with h4 containing
the name of a preset demo, with an ID playground-preset-name where name is a unique ID, and pre containing the HTML
code of the demo.

May only be used once per page.
-->


<!--Import highlight.js-->
<!--Guide: https://highlightjs.org/#usage#:~:text=As%20HTML%20Tags-->
{{ with resources.Get "lib/@highlightjs/cdn-assets/build/styles/a11y-light.min.css" }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" media="(prefers-color-scheme: light)">
{{ end }}
{{ with resources.Get "lib/@highlightjs/cdn-assets/build/styles/a11y-dark.min.css" }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" media="(prefers-color-scheme: dark)">
{{ end }}
<!--You can also choose custom themes by changing "default" above to the theme name from https://highlightjs.org/playground-->
{{ with resources.Get "lib/@highlightjs/cdn-assets/build/highlight.min.js" }}
	<script src="{{ .RelPermalink }}" defer></script>
{{ end }}

<!--Import highlight.js languages-->
<!--You can copy this line to import additional languages, replacing "html" with a language name from https://highlightjs.org/playground.-->
{{ with resources.Get "lib/@highlightjs/cdn-assets/build/languages/html.min.js" }}
	<script src="{{ .RelPermalink }}" defer></script>
{{ end }}

<!--Import code-input-->
<!--The same goes for downloaded versions.-->
{{ with resources.Get "lib/@webcoder49/code-input/code-input.min.js" }}
	<script src="{{ .RelPermalink }}" defer></script>
{{ end }}
{{ with resources.Get "lib/@webcoder49/code-input/code-input.min.css" }}
	<link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }}
<!--Plugins used here for URL interaction-->
{{ with resources.Get "lib/@webcoder49/code-input/plugins/autocomplete.min.js" }}
	<script src="{{ .RelPermalink }}" defer></script>
{{ end }}
{{ with resources.Get "lib/@webcoder49/code-input/plugins/autocomplete.min.css" }}
	<link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }}
<!--Keystroke plugins-->
{{ with resources.Get "lib/@webcoder49/code-input/plugins/auto-close-brackets.min.js" }}
	<script src="{{ .RelPermalink }}" defer></script>
{{ end }}
{{ with resources.Get "lib/@webcoder49/code-input/plugins/indent.min.js" }}
	<script src="{{ .RelPermalink }}" defer></script>
{{ end }}
<!--Code tool plugins-->
{{ with resources.Get "lib/@webcoder49/code-input/plugins/find-and-replace.min.js" }}
	<script src="{{ .RelPermalink }}" defer></script>
{{ end }}
{{ with resources.Get "lib/@webcoder49/code-input/plugins/find-and-replace.min.css" }}
	<link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }}
{{ with resources.Get "lib/@webcoder49/code-input/plugins/go-to-line.min.js" }}
	<script src="{{ .RelPermalink }}" defer></script>
{{ end }}
{{ with resources.Get "lib/@webcoder49/code-input/plugins/go-to-line.min.css" }}
	<link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }}
<form id="playground-presets-form" style="display: none;"></form>
<div id="playground-presets-fallback">
    <noscript><p>You've got JavaScript disabled. You'll see the code-input element's no-JavaScript fallback.</p></noscript>
    {{ .Inner | markdownify }}
</div>
<code-input id="playground-in" template="playground-in" language="HTML" oninput="if(!document.getElementById('playground-message').open) updateDemo();"><textarea data-code-input-fallback></textarea></code-input>
<dialog id="playground-message" open closedby="none" onclose="updateDemo();">
	<form method="dialog">
		<p>This demo's editor uses code-input.js; its implementation can be found by inspecting, or is <a href="">here</a>, <a href="">here</a> and <a href="https://github.com/code-input-js/website/tree/main/assets/_shortcodes">here (GitHub)</a> (all on GitHub).</p>
		<p>For convenience and portability of code, the default code above uses external resources from <a href="https://jsdelivr.com">JSDelivr CDN</a>.</p>
		<p>In production, for more privacy and security you can download and host them yourself.</p>
		<p>OK with loading them?</p>
                <input type="submit" value="Run the code."></input>
	</form>
</dialog>
<iframe id="playground-out" style="resize: both; display: none;" href="data:text/html,Loading"></iframe>
{{- with resources.Get "_shortcodes/playground.js" }}
  {{- if hugo.IsDevelopment }}
    <script defer src="{{ .RelPermalink }}"></script>
  {{- else }}
    {{- with . | minify | fingerprint }}
      <script defer src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous"></script>
    {{- end }}
  {{- end }}
{{- end }}
{{- with resources.Get "_shortcodes/playground.css" }}
  {{- if hugo.IsDevelopment }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{- else }}
    {{- with . | minify | fingerprint }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
    {{- end }}
  {{- end }}
{{- end }}
